<!DOCTYPE html>
<html lang="en">
<head>
   <title>sign up</title>
</head>
<body>
    <div class="signup-box">
      <h1>Contact Us</h1>
      
      <form >
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        
        <label for="" class="form-label" >Phone no:80583822</label>
        <label for="" class="form-label">E-mail:ims123@gmail.com</label>
        <label for="" class="form-label">Adress:Gandhi street,street no 22,Hydrabad</label>
        </div>
        </form>
    </div>

  </body>
</html>





